

*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;


}
body{
	background-image: url("../img/pozadinaOpacity2.png");
	background-repeat:round;
	background-size:contain;
}
.pozadina{
	background-color: white;
	border:1px solid #8F5151;
	margin-top:30px;
}
.pocetno{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.checkout{
    background-color: #DBB9AE !important;
	color:black !important;
	border:none !important;
	transition: 0.3s !important;
	margin-bottom: 20px;
	cursor: pointer;
}
.checkout:hover{
	opacity:0.8
}
.checkout:focus{
	box-shadow: 0 0 0 0.2rem rgba(133, 65, 10, 0.356)!important;
}
nav ul{
	padding-left: 0px !important;
}