

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');



/*----------------------------------------------------*/
#torteSlika{
	padding-right: 1%;
}
#slatkoSlika{
	padding-right: 1%;
}
#hide{
	display: none;
}
#logoImg,#cart{
	height:105px;
	cursor: pointer;
	vertical-align: bottom !important;
}
#cart{
	transition: 0.4s;
}
#cart:hover{
	opacity: 0.5;
}
#logo{
	padding:10px;
}
.onamaWrap{
	width:80% !important;
}

*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}
#proizvodi,#onama,#logo,#kontakt,#blog,#kosarica,#shoppingCart{
    width: 185px;
    text-align: center;
}
nav{
	margin:0 auto;
}
.pocetno{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#cart{
	height: 45px;
	margin-left: 20px;
	margin-top: 25px;
}
header{
	background-color:#8F5151 ;
	display:flex !important; 
	justify-content: left !important;
	align-items: stretch !important;
}
ul{
	margin-bottom: 0;
}
.navLink li{
	font-size:30px;
	text-decoration: none !important;
	color:#F9FFFF !important;
} 
li a {
	font-size:30px;
	text-decoration: none !important;
	color:#F9FFFF !important;
}

.navLink{
	list-style: none;
	margin:0 auto;
}
.navLink li,button{
	display:inline-block;
}

.navLink li a{
	transition: all 0.3s ease 0s;
	border-bottom: 2px solid transparent;
}

.navLink li a:hover{
	border-color:#dabcbc ;
}
#cart{
	margin-bottom:15px;
}
.kolona{
	padding:0 !important;
	cursor: pointer;
	font-size: 25px;
	padding-top:5px;
	transition: all 0.3s ease 0s;
	border-bottom: 2px solid transparent;

}
.ispodSlike p{
	font-size: 19px;
}

.ponuda{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
#najprodavanijeNaslov{
	margin-top:20px;
	text-align: center;
	margin-bottom: 10px;
}
.wide{
	width: 100%;
	max-height: 300px;
}
.btn{
	color:black !important;
	border:none;
	font-size: 25px !important;
	border-radius: 15px;
	font-weight: bolder;
}
.triSlike{
	transition: 0.3s;
}
.kolona:hover{
	border-color:#dabcbc ;
}

#slatko:hover > #slatkoSlika{
	opacity: 0.8;

}
#slano:hover > #slanoSlika{
	opacity: 0.8;

}
#torte:hover > #torteSlika{
	opacity: 0.8;

}

.ispodSlike{
	text-align: left;
	display: block;
	margin-left: 15px;
	margin-top: 15px;
}
.box {
	cursor: pointer;
    margin-left: 20px;
	margin-top: 15px;
	transition: 0.3s;
}
.box:hover{
	opacity: 0.8;
}
#onamaSlika{
	margin: auto;    
    display: block;
}
.radno a {
	padding: 0;
	font-size: 15px;
}
.listaFooter li{
	padding:0;
	font-size:15px;
}
footer{
	background-color:#AE8686 !important;
}
.fab{
	font-size: 45px;
	padding:20px;
	padding-top: 0;
	padding-bottom: 0;
}
nav ul{
	padding-left: 0px !important;
}
.kartica{
	background-color: #dabcbc;
	text-align: center;
}
.kartica img{
	width: 100%;
	height: auto;
}
.kartica p, .kartica h3{
	text-align: left;
	padding-left: 10px;
}
.najprodavanije{
	width:85% !important;
}
.kartica{
	height:100%;
	overflow: hidden;
}
.kartica:hover{
	cursor: pointer;
}
.kartica img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.kartica:hover img{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.najprodavanijiSlika{
	overflow: hidden;
}
@media screen and (max-width: 1416px) {

	#hide{
        display: inline;
    }
	nav{
		width:100%;
	}
    #proizvodi,#onama,#logo,#kontakt,#blog,#kosarica{
        width: 100%;
        text-align: center;
    }
	.navlink li, .navlink a,.navlink ul{
		padding:0;
	}
	#cart{
		display: none;
	}
	nav ul{
		display: flex;
		flex-flow: column;
		width:50%;
	}
	#proizvodi{
		order:6;
	}
	#logo{
		order:1;
		width:100%;
	}
	#kosarica{
		order:2;
	}
	#onama{
		order:3;
	}
	#kontakt{
		order:4;
	}
	#blog{
		order:5;
	}


  }
  @media screen and (max-width: 992px) {
		#torteSlika{
			padding-right: 0%;
			width:100%;
			margin-bottom: 3%;
		}
		#slatkoSlika{
			padding-right: 0%;
			width:100%;
			margin-bottom: 3%;
		}
		#slanoSlika{
			width: 100%;
			margin-bottom: 3%;
		}
		.kolona{
			padding-left: 5% !important;
			padding-right: 5% !important;
			margin-top:5%;
		}
		
		.slikeWide{
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.slikeWide:hover{
			opacity: 0.8;
		}
		
  }